.sidebarRow {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px 20px;
}

.sidebarRow:hover {
  background-color: #e8f5fe;
  border-radius: 30px;
  color: var(--twitter-color);
  transition: color 100ms ease-out;
}

.sidebarRow-selected{
  color: var(--twitter-color);
}

.sidebarRow > .MuiSvgIcon-root {
  padding: 20px;
}

.sidebarRow > h2 {
  font-weight: 800;
  font-size: 20px;
  margin-right: 20px;
}
